{{ profile.owner.full_name }}
{{ profile.owner.contact.addresses[0].value }}
{{ profile.owner.contact.email }}
{{ profile.owner.contact.phone }}

{{ city }}, {{ current_date }}

{{ receiver_name }}
{{ receiver_department }}
{{ receiver_institution }}

Subject: {{ document_deltas.letter_deltas.subject_line }}

Dear {{ receiver_name }},

{{ document_deltas.letter_deltas.intro_paragraph }}

{{ document_deltas.letter_deltas.core_argument_paragraph }}

{{ document_deltas.letter_deltas.alignment_paragraph }}

{{ document_deltas.letter_deltas.closing_paragraph }}

Sincerely,

{{ profile.owner.full_name }}
