Subject: {{ document_deltas.letter_deltas.subject_line }}

Dear {{ receiver_name }},

{{ document_deltas.email_body }}

Please find attached my Curriculum Vitae and Motivation Letter for your review.

Best regards,

{{ profile.owner.full_name }}
{{ profile.owner.links.linkedin }}
